  <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav navbar-right" >
        <li ui-sref-active="active"  class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Administrador <span class="caret"></span></a >
           <ul class="dropdown-menu" role="menu">
              <li><a ui-sref="clientlist">Clientes</a></li>
              <li><a ui-sref="supplierlist">Proveedores</a></li>
              <li><a ui-sref="productlist">Productos</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li >
        <li ui-sref-active="active" >
          <a ui-sref="create"  >Create</a >
        </li >
      </ul >
    </div >

 