<div class="form-group">
	<label class="col-sm-2 control-label">FECHA</label>
	<div class="col-sm-2">
		<input type="text" class="form-control" name="date" value="{{'' | currentdate}}" readonly/>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">TIPO DE MOVIMIENTO</label>
	<div class="col-sm-2">
		<select name="tipo" class="form-control" ng-model="selectedMovement.tipo" ng-change="cargarOperaciones()" id="tipo">
			<option value="1">ENTRADA</option>
			<option value="2">SALIDA</option>
		</select>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">TIPO DE OPERACIÓN</label>
	<div class="col-sm-4">
		<select name="operacion" class="form-control" ng-model="selectedMovement.operacion" ng-options="operacion.id_operation as operacion.operation for operacion in listar.operaciones" id="operacion">
		</select>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">SOLICITANTE</label>
	<div class="col-sm-4">
		<input type="text" class="form-control" name="solicitante" ng-model="selectedMovement.solicitante" required/>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">DESCRIPCION</label>
	<div class="col-sm-8">
		<input type="text" class="form-control" name="descripcion" ng-model="selectedMovement.descripcion" required/>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">FECHA MOVIMIENTO</label>
	<div class="col-sm-2">
		<input type="text" class="form-control" name="fechaEntrega" ng-model="selectedMovement.fechaEntrega" bs-datepicker required/>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label" for="requerimiento">REQUERIMIENTO</label>
	<div class="col-md-2">
		<input type="text" class="form-control" name="requerimiento" ng-model="selectedMovement.requerimiento" />
	</div>

</div>

<fieldset>
	<legend>Documento</legend>
	<div class="form-group">
		<label class="col-md-1 control-label">DOC.</label>
		<div class="col-md-1" style="width:110px;">
			<select name="documento" class="form-control" ng-model="selectedMovement.documento" ng-options="documento as documento.selects for documento in listar.documentos track by documento.codePaymentDocument" id="documento"
			style="width:60px; padding:0px;" >
			</select>
		</div>

		<label class="col-md-1 control-label" for="serie">SERIE</label>
		<div class="col-sm-1">
			<input type="text" class="form-control" name="serie" maxlength="3" ng-model="selectedMovement.serie" />
		</div>

		<label class="col-md-1 control-label" for="numero">NUMERO</label>
		<div class="col-md-2">
			<input type="text" class="form-control" name="numero" ng-model="selectedMovement.numero" />
		</div>

	</div>
</fieldset>

<fieldset><legend>Orden</legend>
	<div class="form-group">
		<label class="col-md-1 control-label">ORDEN</label>
		<div class="col-md-2">
			<select
			name="tiporden"
			class="form-control"
			ng-model="selectedMovement.tiporden"
			id="tiporden"
			 >
				<option value="1">OP | Pedido</option>
				<option value="2">OC | Compra</option>
				<option value="3">OS | Servicio</option>
			</select>
		</div>
		<label class="col-md-1 control-label">CODIGO</label>
		<div class="col-md-2">
			<input type="text" class="form-control" name="codeorden" ng-model="selectedMovement.codeorden" />
		</div>
	</div>
</fieldset>

<div>
	<table class="table table-bordered" infinite-scroll="loadMore()" infinite-scroll-immediate-check="false" infinite-scroll-distance="1">
		<tr>
			<th>CANTIDAD</th>
			<th>ITEM</th>
			<th ng-if="selectedMovement.tipo == '1'">VALOR TOTAL</th>
			<th>UNIDAD</th>
			<th>STOCK</th>
		</tr>

		<!-- <tr ng-repeat="selectedMovement in selectedMovement.movimientos"> -->
		<tr ng-repeat="sl in selectedMovement.movimientos">
			<td>
				<div class="form-group">
					<div class="col-sm-12">
						<input type="number" name="cantidad" class="inputcol-1"
						min = "0"
						ng-model="sl.cantidad"
						ng-if="selectedMovement.tipo == '1'"
						required/>
						<input type="number" name="cantidad" class="inputcol-1"
						min = "0"
						ng-model="sl.cantidad"
						max="{{sl.product.stock}}"
						ng-if="selectedMovement.tipo == '2'"
						required/>
					</div>
				</div>
			</td>
			<td>
				<div class="form-group">
					<div class="col-sm-12">
						<md-autocomplete flex
						  md-selected-item="sl.product"
						  md-search-text="searchText"
						  md-items="producto in FilterAlumnos(searchText)"
						  md-item-text="producto.nameProduct"
						  md-floating-label="Producto"
						  md-menu-class="autocomplete-custom-template" style="height:40px;">
							 <md-item-template >
								  <span class="item-title">
										<md-icon md-font-icon="fa fa-caret-right"></md-icon>
								  </span>
								  <span class="item-metadata">
										<span class="item-metastat">
											 <strong>Código</strong> {{ producto.codeProduct }} -
										</span>
										<span class="item-metastat">
											 <strong>Nombre</strong> {{ producto.nameProduct }}
										</span>
								  </span>
							 </md-item-template>
						</md-autocomplete>


					</div>
				</div>
			</td>
			<td ng-if="selectedMovement.tipo == '1'">
				<div class="form-group">
					<div class="col-sm-12">
						<input type="number" name="valortotal" class="inputcol-1"
						min = "0"
						ng-model="sl.valortotal"
						style="width:100px;"
						required/>
					</div>
				</div>
			</td>
			<td>
				<div class="form-group">
					<div class="col-sm-12 form-units">
						{{sl.product.abrevUnit}}
					</div>
				</div>
			</td>
			<td>
				<div class="form-group">
					<div class="col-sm-12 form-units">
							{{sl.product.stock}}
					</div>
				</div>
			</td>
			<td ng-if="mode=='Registrar'">
				<div class="form-group">
					<div class="col-sm-12" style="text-align: center;">
						<md-icon md-font-icon="fa fa-minus-circle fa-2x" ng-click="remove($index)" style="color:red;"></md-icon>
					</div>
				</div>
			</td>
	</tr>
	</table>
</div>

<div class="pull-right" >
	<button class="btn btn-success btn-sm"
	type="button"
	ng-click="addForm()">
	<span>+</span >
	</button >
</div>

</div>
</div>
</div>
