<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">

            <ng-include src="'templates/menuWarehouse.html'" ></ng-include >

            <form class="form-inline well well-sm">
                <span class="fa fa-search"></span>

                <div class="form-group">
                    <input type="text"
                           class="form-control"
                           id="name"
                           ng-model="search"
                           placeholder="Buscar requerimientos..."
                            />
                </div>

            </form>

            <table class="table table-bordered"
                   infinite-scroll="loadMore()"
                   infinite-scroll-immediate-check="false"
                   infinite-scroll-distance="1">

                <tr>
                    <th class="scol-1">#</th>
                    <th class="scol-2">Fecha</th>
                    <th class="scol-3">Codigo</th>
                    <th class="scol-4">Solicitante</th>
                </tr>
                <tr ng-repeat="requerimiento in filteredRequirement = (listar.requerimientos | filter:sensitiveSearch)" ng-click="selectRequeriment(requerimiento,$index)" ui-sref="requerimentedit({idrequeriment:requerimiento.id_requeriment})">
                     <td>{{ $index + 1 }}</td>
                     <td>{{ requerimiento.dateRequeriment }}</td>
                    <td>{{ requerimiento.codeRequeriment }}</td>
                    <td>{{ requerimiento.solicitant }}</td>
                </tr>

                <tr ng-show="filteredRequirement.length == 0" >
                     <td colspan="4" >
                        <div class="alert alert-info" >
                           <p class="text-center" >No se encontraron requerimientos con '{{ search }}'</p >
                        </div >
                     </td >
                  </tr >

            </table>

        </div>
    </div>

</div>
