<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline well well-sm">
                <span class="fa fa-search"></span>

                <div class="form-group">
                    <input type="text"
                           class="form-control"
                           id="name"
                           ng-model="search"
                           placeholder="Buscar servicio..."
                            />
                </div>

                <span class="fa fa-sort"></span>

                <div class="form-group">
                    <select class="form-control"
                            ng-model="order">
                        <option value="codeService">Codigo (ASC)</option>
                        <option value="-codeService">Codigo (DEC)</option>
                        <option value="serviceName">Servicio (ASC)</option>
                        <option value="-serviceName">Servicio (DEC)</option>
                    </select>
                </div>

            </form>

            <table class="table table-bordered"
                   infinite-scroll="loadMore()"
                   infinite-scroll-immediate-check="false"
                   infinite-scroll-distance="1">

                <tr>
                    <th class="scol-1">#</th>
                    <th class="scol-2">
                        <div class="sortables">
                                    <span ng-click="order = 'code'"
                                          class="fa fa-sort-asc"></span>
                                    <span ng-click="order = '-code'"
                                          class="fa fa-sort-desc"></span>
                        </div>
                        Codigo
                    </th>
                    <th class="scol-3">
                        <div class="sortables">
									<span ng-click="order = 'name'"
                                          class="fa fa-sort-asc"></span>
									<span ng-click="order = '-name'"
                                          class="fa fa-sort-desc"></span>
                        </div>
                        Servicio
                    </th>
                    <th class="scol-4">Unidad</th>
                </tr>
                <tr ng-repeat="servicio in listar.servicios" ng-click="selectServicio(servicio,$index)" ui-sref="serviceedit({idservice:servicio.id_service})">
                     <td>{{ $index + 1 }}</td>
                    <td>{{ servicio.codeService }}</td>
                    <td>{{ servicio.nameService }}</td>
                    <td>{{ servicio.unit }}</td>
                </tr>


            </table>

        </div>
    </div>

</div>