<div class="md-toolbar-tools">
  <md-button class="md-icon-button" aria-label="Settings" ng-click="SidenavToggle()">
    <md-icon md-font-icon="fa fa-bars fa-lg tc-white"></md-icon>
  </md-button>
  <h2>
    <span class="app-title tc-white">Induparck</span> <span class="hidden-xs tc-white">{{app.module}}</span>
  </h2>
  <span flex></span>
  <md-menu>
          <md-button  class="md-icon-button" ng-click="$mdOpenMenu()" aria-label="Open menu">
              <md-icon md-font-icon="fa fa-ellipsis-v fa-lg tc-white"></md-icon>
          </md-button>
          <md-menu-content>
              <md-menu-item>
                <md-button ui-sref='app'>
                  <md-icon md-font-icon="fa fa-home fa-lg"></md-icon> Inicio
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="$mdCloseMenu()"  ui-sref="app.alumnomisdatos">
                  <md-icon md-font-icon="fa fa-user fa-lg"></md-icon> Mis Datos
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="$mdCloseMenu()"  ui-sref="app.alumnocambiocontrasenia">
                  <md-icon md-font-icon="fa fa-key fa-lg"></md-icon> Cambiar Contraseña
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="Logout()" >
                  <md-icon md-font-icon="fa fa-sign-out fa-lg"></md-icon> Cerrar Sesión
                </md-button>
              </md-menu-item>
          </md-menu-content>
      </md-menu>
</div>
